#controlBoxesGrid{
  border: 5px solid cadetblue;
  grid-row: 6;
  grid-column: 1/7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  #CurrentCubeOnPlay{
    width: 90%;
    height: 90%;
    border:2px solid darkmagenta;
  }
  #UpcomingBoxes{
    width: 90%;
    height: 90%;
    border:2px solid rgb(19, 85, 105);
  }
}