
@mixin FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
body{  background-color: rgb(0, 0, 0);
  color:white;
}

#HomePage{
 display: flex;
 align-items: center;
 margin: 0 auto;
 height: 95vh;
}
.flexBoxCenter{
  @include FlexCenter()
}

.testBox{
  border: 1px solid green;
}
.testBox2{
  border: 1px solid red;
}
.GlobalStyleNrs{
  font-size: 100px;
  text-align: center;
}
@import './menu';
@import './controller';
@import './gamePlay';
@import './endGame';