body {
  background-color: black;
  color: white;
}

#HomePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 95vh;
}

.flexBoxCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testBox {
  border: 1px solid green;
}

.testBox2 {
  border: 1px solid red;
}

.GlobalStyleNrs {
  font-size: 100px;
  text-align: center;
}

#Menua {
  width: 17%;
  height: 85%;
  margin: 15vh 1vw;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Menua #startGame {
  height: 6.5vw;
  width: 6.5vw;
  border: 1px solid red;
  background-color: black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  font-size: 0.8vw;
  cursor: pointer;
}

#Menua #HowtoPlayContainer {
  border: 1px solid #177717;
  width: 13vw;
  line-height: 1.5vw;
  text-align: center;
  margin-top: 1vw;
}

#Menua #HowtoPlayContainer #How2PlayTitle {
  width: 100%;
  border: 1px solid yellowgreen;
  margin-bottom: 1vw;
}

#Menua #HowtoPlayContainer #gold {
  color: gold;
}

#Menua #HowtoPlayContainer #blue {
  color: #4444e7;
}

#Menua #Goal {
  text-align: center;
  margin: 1vw;
  padding: 1vw;
  height: 13.8vw;
  border: 1px solid whitesmoke;
}

#Menua #Goal #goaltitle {
  border: 3px solid grey;
  margin: 0.5vw;
}

#Menua #Goal br {
  margin: 0.5vw;
}

#ControllerGrid {
  border: 5px solid cadetblue;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#ControllerGrid #BoxContainer {
  border: 5px solid #a39300;
}

#ControllerGrid #UpcomingBoxesContainer {
  border: 5px solid #0216cc;
}

#GamePlayWindow {
  width: 100%;
  height: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#GamePlayWindow .RowStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

#GamePlayWindow .RowStyle .Box {
  width: 20%;
}

#GamePlayWindow .RowStyle .Box .amountTimesAdded-Box {
  position: absolute;
  z-index: 1;
  font-size: 2.3vw;
  border: 1px solid pink;
  line-height: 1;
  color: bisque;
}

#GamePlayWindow #SumTheRow {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  border: 1px solid gold;
}

#endGameBox {
  height: 95vh;
  width: 100%;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vw;
  font-family: sans-serif;
}
/*# sourceMappingURL=main.css.map */